# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# IntelliJ
.idea
/out/

# Gradle
.gradle
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


src/main/java/com/anatoly/Main.java